<!DOCTYPE html>
<html>
    <head>
        <title><%= user.company %> - <%= user.username %></title>
        <link rel="stylesheet" href="../css/session-style.css">
    </head>
    <body>
        <header>
            <div>
                <h1><a href="/profile"><%= user.company %></a></h1>
                <h2>Client Information</h2>
            </div>
            <nav>
                <span class="dropdown">
                    <button class="dropbtn">Information</button>
                    <div class="dropdown-content">
                        <a href="/profile/clients">Client Information</a>
                        <a href="/profile/manufacturers">Manufacturer Information</a>
                        <% if (user.level > 0) { %>
                            <a href="/profile/employees">Employee Information</a>
                        <% } %>
                    </div>
                </span>
                <% if (user.level > 0) { %>
                    <a href="/profile/sales">Sales</a>
                    <a href="/profile/pricing">Pricing</a>
                <% } %>
                <a href="/profile/inventory">Inventory</a>
                <a href="/profile/docs">Documents</a>
                <a href="/">Log Out</a>
            </nav>
        </header>

        <span id="text">

            <h2>Current Clients</h2>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <% if (clients.length === 0) { %>
                    <tr>
                        <td>No Clients Yet...</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% } else { %>
                    <% clients.map((client)=> { %>
                        <tr>
                            <td><%=(client.name) ? (client.name) : ('N/A')%></td>
                            <td><%=(client.surname) ? (client.surname) : ('N/A')%></td>
                            <td><%=(client.email) ? (client.email) : ('N/A')%></td>
                            <td><%=(client.phone) ? (client.phone) : ('N/A')%></td>
                        </tr>
                    <% }) %>
                <% } %>
            </table>

            <br>
            <h2>Add Client</h2>

            <form action="/auth/addcli" method="post" class="forms">

                <h3>Client Information</h3>

                <div>
                    Client Name:
                    <input type="text" name="name">
                </div>
                <div>
                    Client Surname:
                    <input type="text" name="surname">
                </div>
                <div>
                    Client Email:
                    <input type="email" name="email">
                </div>
                <div>
                    Client Phone Number:
                    <input type="number" name="phone">
                </div>
                <span>
                    Check for Promotional emails
                    <input type="checkbox" name="promo">
                </span>
                

                <h3>Shipping Information</h3>

                <div>
                    Mailing Name:
                    <input type="text" name="shipname">
                </div>
                <div>
                    Address:
                    <input type="text" name="address">
                </div>
                <div>
                    Province, Country:
                    <input type="text" name="province">
                </div>
                <div>
                    Postal Code:
                    <input type="text" name="postcode">
                </div>

                <input type="submit"class="submit-button formbtn" value="Submit" />

            </form>
            
            <br>
            <br>
            <h2>Current Business Clients</h2>

            <table>
                <tr>
                    <th>Business Name</th>
                    <th>Business Number</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <% if (businesses.length === 0) { %>
                    <tr>
                        <td>No Business Clients Yet...</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% } else { %>
                    <% businesses.map((business)=> { %>
                        <tr>
                            <td><%=(business.name) ? (business.name) : ('N/A')%></td>
                            <td><%=(business.number) ? (business.number) : ('N/A')%></td>
                            <td><%=(business.email) ? (business.email) : ('N/A')%></td>
                            <td><%=(business.phone) ? (business.phone) : ('N/A')%></td>
                        </tr>
                    <% }) %>
                <% } %>
            </table>

            <br>
            <h2>Add Business Client</h2>

            <form action="/auth/addbus" method="post" class="forms">

                <h3>Business Information</h3>

                <div>
                    Business Name:
                    <input type="text" name="name">
                </div>
                <div>
                    Business Number:
                    <input type="number" name="number">
                </div>
                <div>
                    Business Type:
                    <input type="text" name="type">
                </div>
                <div>
                    Address:
                    <input type="text" name="shipaddress">
                </div>
                <div>
                    Province, Country:
                    <input type="text" name="province">
                </div>
                <div>
                    Postal Code:
                    <input type="text" name="postcode">
                </div>
                

                <h3>Contact Information</h3>

                <div>
                    Contact Name:
                    <input type="text" name="name">
                </div>
                <div>
                    Contact Surname:
                    <input type="text" name="surname">
                </div>
                <div>
                    Contact Email:
                    <input type="email" name="email">
                </div>
                <div>
                    Contact Phone Number:
                    <input type="number" name="phone">
                </div>

                <input type="submit"class="submit-button formbtn" value="Submit" />

            </form>

        </span>

        <footer>

        </footer>
    </body>
</html>