<!DOCTYPE html>
<html>
    <head>
        <title><%= user.company %> - <%= user.username %></title>
        <link rel="stylesheet" href="../css/session-style.css">
    </head>
    <body>
        <header>
            <div>
                <h1><a href="/profile"><%= user.company %></a></h1>
                <h2>Inventory</h2>
            </div>
            <nav>
                <span class="dropdown">
                    <button class="dropbtn">Information</button>
                    <div class="dropdown-content">
                        <a href="/profile/clients">Client Information</a>
                        <a href="/profile/manufacturers">Manufacturer Information</a>
                        <% if (user.level > 0) { %>
                            <a href="/profile/employees">Employee Information</a>
                        <% } %>
                    </div>
                </span>
                <% if (user.level > 0) { %>
                    <a href="/profile/sales">Sales</a>
                    <a href="/profile/pricing">Pricing</a>
                <% } %>
                <a href="/profile/inventory">Inventory</a>
                <a href="/profile/docs">Documents</a>
                <a href="/">Log Out</a>
            </nav>
        </header>

        <span id="text">
            <table>
                <tr>
                    <th>SKU</th>
                    <th>Manufacturer</th>
                    <th>Type of Product</th>
                    <th>Colour</th>
                    <th>Quantity in Stock</th>
                    <th>Cost per Unit</th>
                </tr>
                <% if (inventory.length === 0) { %>
                    <tr>
                        No Items Yet...
                    </tr>
                <% } else { %>
                    <% inventory.map((product)=> { %>
                        <tr class="rows">
                            <td><%=(product.sku) ? (product.sku) : ('N/A')%></td>
                            <td><%=(product.manufacturer) ? (product.manufacturer) : ('N/A')%></td>
                            <td><%=(product.top) ? (product.top) : ('N/A')%></td>
                            <td><%=(product.colour) ? (product.colour) : ('N/A')%></td>
                            <td><%=(product.stock > 0) ? (product.stock) : ('Out of Stock')%></td>
                            <td>$<%=(product.cpu) ? (product.cpu) : ('N/A')%></td>
                        </tr>
                    <% }) %>
                <% } %>
            </table>

            <form action="/auth/additem" method="post">
                <table>
                    <tr>
                        <th>SKU</th>
                        <th>Manufacturer</th>
                        <th>Type of Product</th>
                        <th>Colour</th>
                        <th>Quantity in Stock</th>
                        <th>Cost per Unit</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="sku"></td>
                        <td><input type="text" name="manufacturer"></td>
                        <td><input type="text" name="top"></td>
                        <td><input type="text" name="colour"></td>
                        <td><input type="number" name="stock" step="1"></td>
                        <td><input type="number" name="cpu" step=".01"></td>
                    </tr>
                </table>
                <input type="submit" id="submit-button" value="Add Item"/>
            </form>

        </span>

        <footer>

        </footer>
    </body>
</html>